body {
  width: 100%;
  height: 100%;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  background: transparent;
  font-size: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo {
  font-family: "Pacifico", cursive;
  color: white;
}
.node {
  margin-top: 10px;
  width: 1%;
  border-radius: 8px;
  margin: 2px;
  margin-left: 0.6%;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.hamburger-menu {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  width: 50px;
  border-radius: 17px;
  cursor: pointer;
  height: 41px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
.hamburger-menu:hover {
  background-color: #ebf1f563;
}
.bar {
  height: 4px;
  border-radius: 8px;
  background-color: rgb(249, 249, 250);
  width: 100%;
}
.combo-container {
  display: flex;
  transition: all 100ms;
}
.navbar {
  padding: 20px;
  background: rgb(217, 217, 248);
  display: flex;
  justify-content: space-between;
}
#speedCombo,
#visualize,
button {
  margin-left: 5px;
}
@media (max-width: 650px) {
  .combo-container {
    margin-top: 10px;
    display: none;
  }
  .combo-container.active {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .hamburger-menu {
    display: flex;
  }
}
